<h2>Log In</h2>

<% if (successMessage.length > 0) { %>
  <p class="success"> <%= successMessage %> </p>
<% } %>

<form action="/login" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username">
  </div>
  <div>
    <label for="encryptedpassword">Password:</label>
    <input type="password" name="encryptedpassword">
  </div>
  <div>
    <input type="submit" value="Log In">
  </div>
</form>
